[2019-02-07 16:18] laleye opened #1 "Installation failed with pip3"
I got this error by installing via pip in an environment using python3

Using cached https://files.pythonhosted.org/packages/93/4b/979db9e44be09f71e85c9c8cfc42f258adfb7d93ce01deed2788b2948919/logging-0.4.9.6.tar.gz
    Complete output from command python setup.py egg_info:
    running egg_info
    creating pip-egg-info/logging.egg-info
    writing pip-egg-info/logging.egg-info/PKG-INFO
    writing

[2019-02-07 22:45] bedapudi6788 commented on #1
Hi @laleye  this seems to be because pip is trying to install logging module, which should be present by default in Python 3 environments. Please take a look at https://stackoverflow.com/questions/32386469/logging-module-not-working-with-python3 and try uninstalling the logging module. Please let me know if this works.

[2019-02-08 10:41] laleye commented on #1
Hi @bedapudi6788
I tried the link solution but nothing. So, I cloned the repository and made the install from the setup and it worked.

[2019-02-08 13:46] bedapudi6788 commented on #1
@laleye thanks for the info, I will try to figure what happened when I get some time. I am also checking the compatibility with all Python versions and will update the setup.py for the same.

[2019-02-08 13:50] #1 closed

[2019-03-01 05:28] bsatish417 opened #2 "Deep Segment model available for download is read only"
Hi,

Deep segment model available for download is read only, while trying to load the model it's throwing error:

PermissionError: [Errno 13] Permission denied: 'models/deepsegment_eng'

I tried to remove read only options in security tab of folder, and couple of other options but nothing works. could you please look in to it ?

Thanks

[2019-03-01 07:46] bedapudi6788 commented on #2
Hi @bsatish417 can you add the snippet of code you used for loading the model here. And the contents of the config file.

[2019-03-01 16:10] bsatish417 commented on #2
Hi @bedapudi6788 , Here is the code

from deepsegment import DeepSegment
segmenter = DeepSegment('models/deepsegment_eng')

Few screenshots to show the model location & read only box that is not going away no matter what do.
![1](https://user-images.githubusercontent.com/6218752/53650446-2a634880-3c0a-11e9-927d-a4fb23f1b303.png)
![2](https://user-images.githubusercontent.com/6218752/53650479-3fd87

[2019-03-02 06:48] bedapudi6788 commented on #2
@bsatish417 , you need to pass the path of the config file to DeepSegment(). You will fins config.json file inside the downloaded model. Change the dir_output to the path in your local machine and pass the path of that config.json to DeepSegment()

[2019-03-02 18:52] bsatish417 commented on #2
i did that already, please find attached config values and error
![1](https://user-images.githubusercontent.com/6218752/53686215-fbbc9f00-3ce9-11e9-892c-c74c70652c31.png)
![2](https://user-images.githubusercontent.com/6218752/53686216-fbbc9f00-3ce9-11e9-9859-fb4966d83562.png)

[2019-03-02 20:52] bsatish417 commented on #2
Never mind, i figured it out. Model doesn't seems to segment all. It was not able to segment the below text

51541 250 PERFORMED 4-WHEEL ALIGNMENT AS PER CUSTOMER, RECOMMENDED REPLACING FRONT TIRES BUT THEY DECLINED REPLACING THEM, PASS

Any thoughts ? The idea is to capture what is performed, what is recommended & what is declined.

![1](https://user-images.githubusercontent.com/6218752/53687501-

[2019-03-05 17:53] bedapudi6788 commented on #2
@bsatish417 It doesn't look like what you are trying to do is a straight forward sentence segmentation task. To get good results you will need to train a NER model on your data to extract the entities you want.

[2019-03-05 18:26] bsatish417 commented on #2
Thanks a lot.

[2019-03-05 18:26] #2 closed

[2019-04-28 22:59] yhgon opened #3 "setup for train with custom dataset"
I want to reproduce your work with my own dataset.

could you explain dependency and requirements?
setup.py requires only 'segtag' and segtag requires  'numpy'

but I need more detail dependency and configuration
Tensorflow and  other modules.

thanks

[2019-04-29 02:14] yhgon opened #4 "question for abbreviation and collocations"
How shoud I avoid abbreviation and collocations as nltk?

When I test below sentence, deepsegment recognize `i.e.` as punkt.

[code]

[code]

[2019-04-29 02:23] yhgon commented on #3
I totally understand the situation
[code]

[2019-04-29 02:23] #3 closed

[2019-04-29 10:25] bedapudi6788 commented on #4
@yhgon for this type of cases, finetuning on some domain specific data (may 1000-2000 examples) will work excellently. But, my suggestion is that, if your data is well punctuated, use nltk or spacy.
As noted in my blog, for data with good punctuation, nltk/spacy work excellently.

[2019-06-04 14:49] uriva opened #5 "tensorflow serving"
Hey!
I want to use this with tensorflow serving but having trouble understanding how to generate an hd5 file. Any ideas how I can do that?

Thanks

[2019-06-04 14:51] uriva opened #6 "`download` function described in blog post isn't there?"
From the blog post:

[code]

This doesn't seem to work (there is no `download` method).

[2019-06-06 06:09] bedapudi6788 commented on #6
@uriva I wasn't able to find a stable, free place to upload the pre-trained checkpoints so that, they can be downloaded. Right now, they are present in the deepsegment-models repo, but git lfs has a bandwidth uppercap.

So, for now, you will have to manually download the files from there. :(

[2019-06-06 06:12] bedapudi6788 commented on #5
@uriva , the general process is: load the checkpoints into graph. Take a look at the graph in tensorboard and figure out the input and output nodes, export to .pb.

I am currently thinking of training a new version (with some more data). will take a look at tf serving part along with that.

[2019-06-30 18:46] guyling commented on #5
Tensorflow  serving does not support RNN (LSTM being an instance of which) natively since it does not support internal state memory.  There are some work around nir they hamper performance

[2019-06-30 21:17] bedapudi6788 commented on #5
This is not true. You are mixing up stateful RNNs (LSTMs) and stateless RNNs (LSTMs). Sequence Tagging (the general BiLSTM CRF implementation), doesn't need stateful lstms

[2019-07-19 12:09] Jack-Collins opened #7 "UnicodeDecodeError: 'charmap' codec can't decode byte 0x8d in position 5665: character maps to <undefined>"
I get this error when I try to initialize a segmenter like so using pre-trained model suggested https://github.com/bedapudi6788/DeepSegment-Models:

[code]

Error:
[code]

Is there an issue with the pre-trained model, or have I set up something wrong ?

[2019-07-21 08:41] bedapudi6788 commented on #7
Can you try running in a new environment with locale and lang set to UTF-8

[2019-08-02 12:39] bedapudi6788 commented on #6
@uriva I just released DeepSegment v2. This can download the models automatically and configures their path automatically.

[2019-08-02 12:39] #6 closed

[2019-08-02 12:39] bedapudi6788 commented on #7
I just released v2 of this model. Please check and re-open the issue if the issue still exists.

[2019-08-02 12:39] #7 closed

[2019-08-02 19:09] uriva commented on #6
I'm getting some sklearn related error when trying to install, which is weird because I have sklearn (0.21.3).

[2019-08-02 19:29] bedapudi6788 commented on #6
Can you please post the error that you got? I will check it out.

[2019-08-02 20:39] bedapudi6788 commented on #6
Can you once please check if you are able to install in a new enviroment (venv or conda). I am unable to reproduce this. Might be because of some library you already have installed.

[2019-08-03 07:49] uriva commented on #6
btw I'm using python 3.7.3 in case it matters.

[2019-08-29 18:56] michaelyao opened #8 "Tensors in list passed to 'values' of 'ConcatV2' Op have types [bool, float32] that don't all match."
I am trying to run the sample code on google colab, and I got error:

Tensors in list passed to 'values' of 'ConcatV2' Op have types [bool, float32] that don't all match.

Here is the shared colab.

https://colab.research.google.com/drive/16dVsf_4J_HCAuBn_aNZXQ6qFd44h2gEC

Here is code I tried. The error happened at : segmenter = DeepSegment('en')

from deepsegment import DeepSegment
segmenter = D

[2019-08-29 19:13] bedapudi6788 commented on #8
@michaelyao please make the colab link public. I am unable to access it.

[2019-09-03 10:12] bedapudi6788 commented on #8
@michaelyao the error was from a newer version of keras. I updated the setup.py to reflect it. It will work from now.
Note: if it still doesn't work as expected, run ```pip install keras==2.2.4``` and it will work as expected.

[2019-09-03 10:12] #8 closed

[2019-09-03 19:08] militu opened #9 "Unable to load "eng_fra_ita" with DeepSegment"
Hello, I am trying to load the eng_fra_ita model with the current branch v2, but it is not made available. Is there a way to load it?

P.S. I also dowloaded the zip file from deepsegment-model but there is no "utils" and "params" files.

Thank you

[2019-09-03 19:26] bedapudi6788 commented on #9
v2 currently only supports english language. I will release models for other languages as soon as i can.

[2019-09-03 19:26] #9 closed

[2019-09-03 20:29] sl-victormazzeo commented on #9
Ok thank you

[2019-09-06 15:58] danilaric opened #10 "Italian language option"
Hi,
as stated in the medium blog (https://medium.com/@praneethbedapudi/deepsegment-2-0-multilingual-text-segmentation-with-vector-alignment-fd76ce62194f) seems that in previuous commits there was an option for the Italian language.

Do you plan to re-add the Italian language as an option for the package?

Thanks

[2019-09-06 17:35] bedapudi6788 commented on #10
For now, you will have to use the version from master branch. I will add french, italian and other languages in a few weeks.

[2019-09-06 17:35] #10 closed

[2019-09-07 16:02] tylercollins590 opened #11 "WARNING:root:Consider using segment_long for longer sentences."
I am inputting an entire paragraph to test the segmentation behavior. I am using segment_long, but when I do and leave the n_window = 10, I recieve the following error and the process seems to stall

[2019-09-07 22:43] urmay commented on #8
@bedapudi6788
hi i am working on lstm -CRF for NER .I got the same error as mentioned by @michaelyao
first i was getting this error :
`TypeError: Tensors in list passed to 'values' of 'ConcatV2' Op have types [bool, float32] that don't all match.
`
After installing  `pip install keras==2.2.4 `

it gives me : `super(type, obj): obj must be an instance or subtype of type`

[2019-09-08 04:53] bedapudi6788 commented on #8
@urmay how is this repo related to your comment?

[2019-09-08 04:55] bedapudi6788 commented on #11
What is the paragraph you passed? What versions of the libraries are you using? This repo has a issue template. Follow that to get your issues answered.

[2019-09-08 04:55] #11 closed

[2019-09-09 14:57] Inadel commented on #2
hi, can you give me the full config for deepsegment in french sentence segmentation?
thanks you

[2019-09-19 16:50] sbenigeri commented on #9
hey, thank you for making this. Do you know when v2 will support the eng_fra_ita model ?
Thanks

[2019-09-24 11:29] leolcling opened #13 "How to train a new model using custom data"
I have prepared the data using `data_gen.py` in master branch, how do I train a new model?

[2019-09-24 18:34] bedapudi6788 commented on #13
@leolcling I added functions to train deepsegment. Please take a look at https://colab.research.google.com/drive/1CjYbdbDHX1UmIyvn7nDW2ClQPnnNeA_m to see an example on how to do this.

[2019-09-24 18:34] #13 closed

[2019-09-27 00:28] tylercollins590 opened #14 "segment_long, n_window optimal length"
**Describe the bug and error messages (if any)**
This is not a bug, however a request for clarification on the optimal length of n_window based on the string length. Is there a factor that should be considered when setting n_window? I am feeding in various length phrases to be broken up, so I could see setting this dynamically.

Thank you

[2019-09-27 09:06] bedapudi6788 commented on #14
@tylercollins590 the value is very much dependent on the type of data. ideally, i would set n_window=2*number of words in expected sentences. Please note that, it is more of a hacky approach for segmenting long sentences. It would work better if you fine-tune the model on your data.

[2019-09-27 09:06] bedapudi6788 commented on #10
@danilaric "french" (fr) and "itaian" (it) are now available.

[2019-09-27 09:06] bedapudi6788 commented on #9
@sbenigeri @militu v2 now supports french and italian

[2019-09-27 13:31] tcollins590 commented on #14
I will do some testing with the suggestion you made below and let you know
how the results pan out. I likely will run a fine tuned model in a few
weeks. Thank you feel free to close this.

On Fri, Sep 27, 2019 at 5:06 AM Bedapudi Praneeth <notifications@github.com>
wrote:

[2019-09-29 12:31] #14 closed

[2019-09-29 13:51] bedapudi6788 commented on #5
@uriva @guyling  tf-serving is available now. Take a look at the readme.

[2019-09-29 13:51] #5 closed

[2019-09-30 03:36] WEN-MIN commented on #8
I have meet the some question. Is there any good solution to solve this problem except  pip install keras==2.2.4？

[2019-09-30 05:24] bedapudi6788 commented on #8
@WEN-MIN I will update the seqtag-keras library to address this. Meanwhile, this is the only solution.

[2019-10-01 01:56] ankitavyas opened #15 "Issue with other statement"
I am trying to test with my situation where I have lots of raw data with or without punctuation symbols. Couple of examples are below. First example has no punctuation and second has sentence separated by comma with spelling mistake.

When I run this statement through example code, I get no split at all.

It is likely your code may not expect raw statements as what I have. I don't have control on

[2019-10-03 09:04] bedapudi6788 commented on #15
The model is trained to detect ending of senteces. The training data has mostly grammaticaly correct senteces which have atleast 3 4 words. The text you are passing doesn't look like general english senteces, but more like some domain specific shorthand. You will need to re-train or finetune on your data.

[2019-10-03 09:19] rvtechnogen opened #16 "Facing error when running sample script"
I was trying to set up the library to test the accuracy for my usecase.
I did the package installs and created a script containing just the content from the readme
When executing it i am facing the following error

Traceback (most recent call last):
  File "correct.py", line 4, in <module>
    print(segmenter.segment('I am Batman i live in gotham'))
  File "/home/algante/tmp/deepspeech-venv/lib/py

[2019-10-03 09:44] bedapudi6788 commented on #16
looks like you are using with tf-serving docker image. check if the image is running properly.

[2019-10-17 14:12] bedapudi6788 commented on #16
@rvtechnogen I am closing the issue. Feel free to re-open if it's not resolved yet.

[2019-10-17 14:12] #16 closed

[2019-10-23 12:19] #15 closed

[2019-10-23 12:19] #4 closed

[2019-10-25 09:53] bedapudi6788 commented on #8
@WEN-MIN @michaelyao i updated the libraries to work with latest versions of tf and keras.

[2019-11-20 00:03] sangeet2020 opened #18 "Deepcorrect not working on model trained using Deepsegment."
Hello,

Apologies if the headline isn't to the point.
Actually I used Deepsegment (https://colab.research.google.com/drive/1CjYbdbDHX1UmIyvn7nDW2ClQPnnNeA_m#scrollTo=K9oMoDwwXgQl) to train a language model on my custom data. However when I use the trained model (HDF format) and parms (JSON format) and run the code below:

**### My logic: czech-data -> DeepSegment -> train mode -> DeepCorrect -> pu

[2019-11-20 07:38] bedapudi6788 commented on #18
I think you misunderstood something somewhere. DeepSegment and DeepCorrect are two different libraries with two different model architectures. You have to train both separately and use both separately.

[2019-11-20 09:56] sangeet2020 commented on #18
Could  you please share the instruction to train model for deepcorrect ?

[2019-11-20 10:02] bedapudi6788 commented on #18
https://github.com/bedapudi6788/txt2txt/

[2019-11-20 10:03] bedapudi6788 commented on #18
@sangeet2020 I am closing the issue, feel free to re-open if you have any other questions.

[2019-11-20 10:03] #18 closed

[2019-11-20 10:13] sangeet2020 commented on #18
Sure Mr. Praneeth. Thanks a lot.
I had a question, I am trainning Deepsegment using tensorflow2.0, will this be an issue or any effect on the model ?

[2019-11-20 10:27] bedapudi6788 commented on #18
No. Latest versions of both deepsegment and txt2txt support newer tf and keras versions.

[2019-12-30 08:33] youssefavx opened #19 "h5py.h5f.open OSError: Unable to open file (truncated file: eof = 16777216, sblock->base_addr = 0, stored_eof = 80443280)"
**Describe the bug and error messages (if any)**
I've tried to run:

segmenter = DeepSegment('en')
text = Path('data/bandt.txt').read_text()
tokens = segmenter.segment(text)

In both python3.7 and python3.6 and I'm getting this same error:

[code]

**The code snippet which gave this error***

**Specify versions of the following libraries**
1. deepsegment: 2.3.0
2. tensorflow: 1.13.1 / tensorflow-c

[2019-12-30 13:55] bedapudi6788 commented on #19
Delete the .DeepSegment_en directory in your home folder manually and rerun. The checkpoint download didn't finish.

[2020-01-01 14:23] youssefavx commented on #19
Works great now! Thanks very much!

[2020-01-01 14:23] #19 closed

[2020-01-31 13:01] sersoage opened #20 "Hi I trained a model in spanish woud you like to add to?"

[2020-01-31 13:13] sersoage commented on #20
Also I am unable to load that trained model even if I set a lang_code='None', is there a way to load a model in another lang? Thanks!

[2020-01-31 18:53] bedapudi6788 commented on #20
@sersoage Can you send me the params, utils and checkpoint. I will test and add to the repo.

[2020-01-31 19:05] bedapudi6788 commented on #20
@sersoage I just checked and, lang_code=None should have worked. Can you post the error/ logs you are getting.

[2020-02-10 17:47] #20 closed

[2020-02-26 15:55] good-mouse opened #21 "Add a change in the dimension of vectors"
I have glove 300d vectors only.
Change pls code [here](https://github.com/bedapudi6788/deepsegment/blob/59568edba59d08849a15ee82a90abb98eb6cd944/deepsegment/train.py#L109) and [here](https://github.com/bedapudi6788/deepsegment/blob/59568edba59d08849a15ee82a90abb98eb6cd944/deepsegment/train.py#L144) to this:
`def train(x, y, vx, vy, epochs, batch_size, save_folder, glove_path, **dim_glove=100**)`
a

[2020-02-26 18:55] bedapudi6788 commented on #21
@good-mouse 300d vectors are mostly a overkill and will result in at least 4x performance degradation.

If you really need support for 300d vectors inside the library, please consider making a PR. I will be more than happy to help if you need any guidance for that.

[2020-02-26 19:01] good-mouse commented on #21
@bedapudi6788 Sry, PR? What do you mean ?

[2020-02-26 19:07] bedapudi6788 commented on #21
1. Fork the repo.
2. create a new branch
3. Make your changes and push to your forked repo.
4. Create a pull request.

https://yangsu.github.io/pull-request-tutorial/

[2020-02-26 19:08] nagadit commented on #21
@bedapudi6788 I thought you mean PR as an advertisement 😄

[2020-03-25 15:20] Tortoise17 opened #23 "Training other language"
I have a question. Is it possible to train such for other languages as well? If you can guide how to do this?

[2020-03-26 05:38] bedapudi6788 commented on #23
Yes. Please take a look at the training section in readme.

https://colab.research.google.com/drive/1CjYbdbDHX1UmIyvn7nDW2ClQPnnNeA_m
The above notebook shows the complete process.

[2020-03-30 07:22] bedapudi6788 commented on #23
Please re-open if you get any errors.

[2020-03-30 07:22] #23 closed

[2020-04-04 08:29] amithnikhade opened #24 "deadline exceeded"
grpc._channel._Rendezvous: <_Rendezvous of RPC that terminated with:
        status = StatusCode.DEADLINE_EXCEEDED
        details = "Deadline Exceeded"
        debug_error_string = "{"created":"@1585986715.466000000","description":"Failed to create subchannel","file":"src/core/ext/filters/client_channel/client_channel.cc","file_line":2261,"referenced_errors":[{"created":"@1585986715.466000000","d

[2020-04-04 09:22] bedapudi6788 commented on #24
@amithnikhade please follow the bug report format. It helps people understand what went wrong.

[2020-04-04 18:33] #24 closed

[2020-04-07 03:12] Singularsun opened #25 "[typo] Find a typo"
**Describe the bug and error messages (if any)**

Find a typo:

https://github.com/bedapudi6788/deepsegment/blob/v2/deepsegment/deepsegment.py#L170
`utils` should be modified to  `params`

[2020-04-07 05:59] bedapudi6788 commented on #25
@Singularsun good catch. Corrected it.

[2020-04-07 05:59] #25 closed

[2020-04-10 14:30] amithnikhade opened #27 "not segmenting properly."
from deepsegment import DeepSegment
segmenter = DeepSegment('en')
segmenter.segment('I am Batman i live in gotham')

 It gives me this ['I am Batman', 'i live in gotham']

but when i give it

from deepsegment import DeepSegment
segmenter = DeepSegment('en')
segmenter.segment('hello what is your name how are you ')

then it gives me
 'hello what is your name who are you'

what would you advise?

[2020-05-08 13:38] kamelnebhi opened #28 "load checkpoint locally"
I try to load the checkpoint locally using this:
`seg = DeepSegment(lang_code=None, checkpoint_path="path/to/checkpoint")`

but it does not work as it will always download the checkpoint.

what is the best way to do that?

[2020-05-08 13:39] kamelnebhi opened #29 "load checkpoint from local files"
I try to load the checkpoint locally using this:
`seg = DeepSegment(lang_code=None, checkpoint_path="path/to/checkpoint")`

but it does not work as it will always download the checkpoint.

what is the best way to do that?

[2020-05-08 13:39] #28 closed

[2020-05-08 19:50] bedapudi6788 commented on #29
[code]

is the expected format.

[2020-05-08 19:52] bedapudi6788 commented on #27
For smaller sentences, the accuracy suffers because of the low context available. FInetuning or re-training on your type of data will give you the best results.

Training/ fine-tuning deep segment is easy, and can be done on google colab for free.

[2020-05-13 09:36] #29 closed

[2020-05-13 09:37] #27 closed

[2020-05-30 20:28] guyalizi1 opened #30 "Getting an error message :AttributeError: '_thread._local' object has no attribute 'value'"
Hi

I am using keras version 2.3.1 and tensorflow version 2.2.0

I am using DeepSegment:
   stam = 'I am Batman i live in gotham'
    testText = segmenter.segment(stam)

and  i am getting the following error:

  File "C:\PythonTestProjects\FlaskApp\testLanguageExtraction.py", line 223, in testConceptDataExtraction
    testText = segmenter.segment(stam)
  File "C:\PythonTestProjects\FlaskApp\env\li

[2020-05-31 07:08] bedapudi6788 commented on #30
Are you trying to use deepsegment inside a flask app? Multi threading/processing causes a lot of issues with keras/tensorflow.

refer to https://github.com/keras-team/keras/issues/13353

[2020-05-31 21:49] guyalizi1 commented on #30
You are right. Flask is multi-threaded . I canceled the multithreading and it works.
Thanks

[2020-06-01 04:33] bedapudi6788 commented on #30
@guyalizi1 i suggest against using flask for serving anything. For serving deepsegment, take a look at https://fastdeploy.notai.tech/recipes#sentence-splitting

[2020-06-01 04:33] #30 closed

[2020-06-10 19:03] BoneGoat opened #31 "Deepsegment does not segment on custom model"
**Describe the bug and error messages (if any)**
I trained Deepsegment on 1GB of custom data in Swedish. All was successful but when I run inference the model does not segment the text.

**The code snippet which gave this error***
[code]
cc.sv.100.vec is Facebook fasttext 300 vec reduced to 100 in Swedish.

**Specify versions of the following libraries**
1. deepsegment / latest
2. tensorflow / 1.1

[2020-06-10 19:20] bedapudi6788 commented on #31
@BoneGoat I think you should increase your n_examples a lot. n_examples is basically the amount of data the model will be trained on. 10000 examples is way too less for a new language. Similarly, you should also increase your vx, vy n_examples.

[2020-06-10 19:21] bedapudi6788 commented on #31
Also, I suggest to keep epochs=15. 2 is way too less.

[2020-06-10 19:54] BoneGoat commented on #31
Thank you for the quick response! I have increased n_examples with a couple of zeros and bumped epochs to 15. One epoch will now take around 8hrs. I have tensorflow-gpu installed but the training isn't using the GPU. Is there a way to utilise the GPU for faster training?

[2020-06-10 20:23] bedapudi6788 commented on #31
That is odd. If tensorflow-gpu is available, it should use gpu for training. Make sure your tensorflow import is using GPU (https://stackoverflow.com/questions/38559755/how-to-get-current-available-gpus-in-tensorflow, https://www.tensorflow.org/api_docs/python/tf/config/list_physical_devices).

You might also want to increase the batch size by a lot.

[2020-06-11 05:53] BoneGoat commented on #31
My setup was broken so it wasn't using the GPU. Thanks for your help!

[2020-06-11 05:53] #31 closed

[2020-06-12 06:01] BoneGoat opened #32 "Training loss: nan"
**Describe the bug and error messages (if any)**
Training loss is nan after training for half an epoch. Is there a problem with my params?

Also, batch_size of 32 is as high as I can go. Everything above will OOM.

These params will consume all 32GB of RAM and some swap. May be related to the warning in the log: "UserWarning: Converting sparse IndexedSlices to a dense Tensor with 120289200 element

[2020-06-12 08:35] bedapudi6788 commented on #32
That is odd. Is it possible to share the 1GB text file with sentences you are using. I will just try to re-produce this on my end and check.

[2020-06-12 08:47] BoneGoat commented on #32
Sorry I can't share the text file. It's a partial dump from a CMS and may contain privacy related info. I have cleaned the text but there may still be various random chars. Do you think it would work better if I remove everything but [a-ö] + comma and punctuation?

[2020-06-12 08:53] bedapudi6788 commented on #32
No, the char set won't change anything.

I suggest you verify the following things.

[code]

[2020-06-12 12:05] BoneGoat commented on #32
Tried the code (except for the 3rd if because word is not defined) and the result was no exclamation marks.

Also tried to run the training on a much smaller subset of the training data (32MB) and then it finishes without nan loss:
[code]

So there must be something wrong with my training data.

The memory issue is still an issue though. The training uses about 14GB of RAM with the smaller trainin

[2020-06-13 07:06] BoneGoat commented on #32
Now it works! Stops by itself after 5 epochs. Not sure if it's early stopping or if it gets killed.

[code]
It does however segment now:
[code]

Thanks for your help!

[2020-06-13 07:06] #32 closed

[2020-06-25 12:35] adrien-jacquot opened #33 "Error with Keras 2.4.3"
Hello!

I got an "automatic" update of Keras from 2.4.2 to 2.4.3 (I'm using pipenv, and Keras was set to "*" in the Pipfile).
My code won't run anymore with Keras 2.4.3, I'm getting the error below at runtime.
No issue with 2.4.2 though.

(I don't mind using Keras 2.4.2 so not really a blocking issue, just thought you'd wanted to know.

Traceback (most recent call last):
  File "xxx/main.py", line

[2020-06-25 13:18] bedapudi6788 commented on #33
What is your tensorflow version?

[2020-06-25 13:31] adrien-jacquot commented on #33
2.2.0

[2020-06-26 04:08] bedapudi6788 commented on #33
Thanks, I will look into this.

[2020-07-02 21:14] uguryavuz opened #34 ""WARNING:root:Consider using segment_long" when actually using segment_long"
**Bug description**
I am using `segment_long` to segment a relatively long paragraph, and despite using this specific function I am getting a repeated warning that reads

**Snippet which gave this bug**
[code]

**Specify versions of the following libraries**
1. deepsegment==2.3.1
2. tensorflow==2.2.0
3. keras==2.3.1

**Expected behavior**
No warnings at all, given I'm using the suggested function.

[2020-07-03 08:35] bedapudi6788 commented on #34
@uguryavuz I will look into this.
Meanwhile,

[code]
adding this before deepsegment import will disable warnings.

[2020-08-10 00:15] JuanFF opened #35 "Train with a different language"
Hello,
I have followed the guide to train a custom DeepSegment that you published on colab.research.google.com
I want to try it on Spanish, so I used a custom corpus of sentences in Spanish and a custom vector file from this corpus.
After training, the checkpoint is saved and then I use DeepSegment as follows:
segmenter = DeepSegment(checkpoint_name='checkpoint')
I didn't specify "es" as Spanish i

[2020-08-11 15:01] bedapudi6788 commented on #35
https://github.com/notAI-tech/deepsegment/blob/51df6e4d11091c3e0ac2b3ce71b9e19a4cc87371/deepsegment/deepsegment.py#L99
[code]

this is the correct format.

[2020-08-11 18:23] JuanFF commented on #35
Thanks a lot! By the way, what is the appropriate number of sentences I should provide for a fine model?

[2020-08-11 18:27] bedapudi6788 commented on #35
In `x, y = generate_data(lines, max_sents_per_example=6, n_examples=10000)` I would suggest at least 100k lines and n_examples=lines*3. If you lines is high enough (eg: 1 mil), n_examples = lines is also fine

[2020-08-11 18:37] #35 closed

[2020-08-13 11:48] JuanFF commented on #35
Hi!
Sorry for re-opening the question. I want to make sure that I am giving the right configuration for training.

I have a dataset of 630K sentence lines from different sources.

I had to exclude lines with less than 3 tokens, otherwise, I get `ValueError: empty range for randrange()` and I assume that I can't provide too short sentences for training, am I right?

As for generate_data(), I've set

[2020-08-13 12:44] bedapudi6788 commented on #35
No problem!

Yupp!

Yes. I would suggest keep n_examples = 2 * len(lines[315000:]). But, even your values will be fine.

vx, vy is used for validation. i.e: To make sure the model is not overfitting to train set.

Your values, splitting looks fine. You should get a good model.

[2020-08-13 12:46] bedapudi6788 commented on #35
Also, since you have 630K lines, use 600k for x,y and 30k for vx, vy. 315 is too much for vx, vy.

[2020-08-13 15:19] bedapudi6788 commented on #35
@JuanFF feel free to re-open the issue if you need any other info.

[2020-08-13 15:48] JuanFF commented on #35
Thanks a lot! The training is on its way... I made a quick test and I'm positively impressed.
The input texts are very long strings (around 2000 tokens per text unit). So, I must use `.segment_long() ` I am not clear on the n_window parameter, is there a value I should set here?

[2020-08-13 17:38] bedapudi6788 commented on #35
You will have to manually experiment with n_window from 10-30 and see which gives better results. Also, compare these results with the normal segment function once. Pretty good chance both perform similarly.

[2020-08-16 12:53] skt7 commented on #33
I am facing the same issue. As far as I understand the issue is with the keras compatibility of the tensorflow backend.

I am using the following versions -
keras==2.4.3
tensorflow==2.3.0

Can you please help with versions you used with the build. Maybe changing to the same will resolve the issue.

[2020-08-17 06:35] bedapudi6788 commented on #33
@skt7  I generally use with tf==1.14 and keras==2.2.4. It should work with tf 2.2 and keras 2.3 too as mentioned by the original poster on this issue.

[2020-08-17 09:59] skt7 commented on #33
Thanks @bedapudi6788, it worked with -
keras==2.3.1
tensorflow==2.2.0

Also for tensorflow 1, it works fine with the versions -
keras==2.2.4
tensorflow==1.14.0

## Few Suggestions -
- I think the original issue is with regards to compatibility issues with keras and tensorflow and not with deepsegment. You can redirect to the same and maybe close this issue.
- You can mention the supported versions

[2020-08-17 10:07] JuanFF commented on #35
The results seem fine.
I see, however, that some split sentences keep too long. Let me explain this.
My original text source (more than 2000 tokens) is split into sentences with an average of 20-35 tokens, which is fine. Unfortunately, some of these output sentences have around 200 tokens. I suppose that they are false negatives, as `segement_long` couldn't find any boundaries in there.
So my last

[2020-08-18 07:21] bedapudi6788 commented on #33
Updated the readme to reflect these requirements. @skt7 Thank you for the suggestion.

[2020-08-18 07:23] bedapudi6788 commented on #35
Try re-segmenting the longer sentences (you can have a simple logic like if len(sent.split()) > 100: resegment) with segment function again. This is a little hacky but might work.

Currently, there is no way to do this out of the box.

[2020-08-20 14:08] JuanFF commented on #35
Thanks a lot for your help. Your solution makes sense but it doesn't work : (
For some text slices, `segment` can't find the boundaries, even if I apply it again as you said. If I am right, the only possible solution for this then lies in the training phase.
I must say that my input text is an ASR transcription with missing words and too noisy passages. I suppose that it is normal that DeepSegment

[2020-09-16 15:46] JuanFF opened #36 "One sentence inside another"
Hello,

I'm going to expand a custom training set with new examples. These two sentences are in the set:

1. _Good morning I need help to fix this issue_
2. _I need help to fix this issue_

In this case, I need that DeepSegment keeps the boundaries of the longest one (1). Considering that both examples are in training, I wonder if the final result would be

`['Good morning', 'I need help to fix th

[2020-09-16 18:08] bedapudi6788 commented on #36
For this, I would keep both the examples in training set and let the model learn the `good morning` (or contextually similarly phrases) should not be split when accompanied by  phrases like `I need help to fix this issue`.

So, keep both example 1 and example 2 in training set and train the model. Based on your results (i.e: if it segments sentences like 1), you might need to add more data similar

[2020-09-16 18:22] JuanFF commented on #36
Thanks a lot!

[2020-09-16 20:02] bedapudi6788 commented on #36
@JuanFF I am closing the issue for now. Feel free to re-open if required.

[2020-09-16 20:02] #36 closed

[2020-09-30 06:11] hanifabd commented on #13
AttributeError: module 'tensorflow.python.framework.ops' has no attribute '_TensorLike'

i got that error on the  last step, can you help me, please

[2020-09-30 06:13] hanifabd opened #37 "AttributeError: module 'tensorflow.python.framework.ops' has no attribute '_TensorLike'"
i make my own dataset and i make glove in my own using word2vec, and i got this issue on the last step

AttributeError: module 'tensorflow.python.framework.ops' has no attribute '_TensorLike'

can tell me why

[2020-09-30 07:32] bedapudi6788 commented on #37
@hanifabd what are your tensorflow and keras versions?

[2020-09-30 07:46] hanifabd commented on #37
oh ya i got the problem, i use colab an the tensorflow version is newest one, thanks

[2020-09-30 07:46] #37 closed

[2020-11-05 12:12] iglimanaj opened #38 "Support for German"
Is the support for german language in your schedule?

[2020-11-05 12:41] bedapudi6788 commented on #38
@iglimanaj I will add it by this weekend.

[2020-12-03 18:30] maxaalexeeva opened #39 "ModuleNotFoundError"
**Describe the bug and error messages (if any)**
Can't import the module

**The code snippet which gave this error***
[code]

**Specify versions of the following libraries**
1. deepsegment - possibly 1.0.1 (this is the message I get when installing using `pip install -upgrade deepsegment`: _Successfully installed deepsegment-1.0.1 logging-0.4.9.6 numpy-1.16.6 seqtag-1.0.3_
2. tensorflow/ tensorflo

[2020-12-03 18:52] bedapudi6788 commented on #39
Can you post the output for the following commands

[code]

[2020-12-03 18:57] maxaalexeeva commented on #39
Thank you for a quick response!
[code]

[2020-12-03 19:23] bedapudi6788 commented on #39
the default pip and python versions are different (i.e: the command pip is linked to python2.7). can you also post the output for the following commands (run them in the same order).

[code]

[2020-12-03 19:28] maxaalexeeva commented on #39
the output of ls is basically all my stuff - a lot of things. Anything in particular I should be seeing?

And I get this error while running python -m pip --version:

[code]

[2020-12-03 19:31] bedapudi6788 commented on #39
check if there is any file or directory named `pip` in the directory from which you are running these commands.

Or better, create a new empty directory and cd inside it and repeat the `python -m pip --version` again. It should ideally output the pip version you are using. Only then, you will be able to install any modules for the python version you are using.

[2020-12-03 19:44] maxaalexeeva commented on #39
@bedapudi6788 same error in the empty directory. But it sounds like this is an issue unrelated to the module itself, so I will try to figure that out. Thank you for the advice!

[2020-12-04 06:01] bedapudi6788 commented on #39
@maxaalexeeva closing the issue for now.

[2020-12-04 06:01] #39 closed

[2020-12-10 18:49] maxaalexeeva commented on #39
@bedapudi6788, got it working in a new conda environment with these keras and tensorflow versions you indicate as tested (keras==2.3.1; tensorflow==2.2.0) and ran segment_long on a couple of unpunctuated speech transcripts about 130 words long each. Very happy with the result. Thank you!

[2021-01-14 15:12] sourabh-zanwar opened #40 "module 'tensorflow.python.framework.ops' has no attribute '_TensorLike'"
Versions:

Problem:
As I try to run the basic code for Sentence Segmentation
[code]

I get the following error:
`AttributeError: module 'tensorflow.python.framework.ops' has no attribute '_TensorLike'`

[2021-01-15 08:12] bedapudi6788 commented on #40
# Tested with (keras==2.3.1; tensorflow==2.2.0) and (keras==2.2.4; tensorflow==1.14.0)

[2021-01-15 08:12] #40 closed

[2021-02-01 12:06] CamilleSchr commented on #19
Hi, I have quite the same problem,but I don't have the .DeepSegment_en directory in my home folder ...

**Here is the bug and error messages :**

Using TensorFlow backend.
2021-02-01 13:03:30.843192: W tensorflow/stream_executor/platform/default/dso_loader.cc:55] Could not load dynamic library 'cudart64_101.dll'; dlerror: cudart64_101.dll not found
2021-02-01 13:03:30.843436: I tensorflow/stream_e

[2021-02-01 15:51] bedapudi6788 commented on #19
@CamilleSchr when initialising for the first time, DeepSegment downloads the required checkpoints from the releases section of this repo. It looks like your download was corrupted or partially downloaded.

You can download these files manually from
https://github.com/notAI-tech/deepsegment/releases/download/v1.0.2/en_checkpoint
https://github.com/notAI-tech/deepsegment/releases/download/v1.0.2/en_

[2021-02-05 20:50] Emekaborisama commented on #40
Did you resolve this issue because i am getting the same error

[2021-02-08 08:19] anilozdemir96 opened #41 "Support for Turkish"
The work done is very valuable, thank you very much. Do you plan to support Turkish?
Or is it possible for me to train for Turkish with custom data.

[2021-02-08 09:08] bedapudi6788 commented on #41
@anilozdemir96 deepsegment has very easy to use train function inbuilt. Please take a look at https://colab.research.google.com/drive/1CjYbdbDHX1UmIyvn7nDW2ClQPnnNeA_m

[2021-02-08 11:28] bedapudi6788 commented on #40
@Emekaborisama with the specified tensorflow versions?

[2021-02-11 08:26] anilozdemir96 commented on #41
When I train with Turkish data, the loss starts from around 6-7 and starts to decrease and it appears as nan from the first epoch. In the validation at the end of the epochs, the evaluation metrics appear to be 0. What could be causing this, do you have an idea?

Thanks in advance

[2021-02-18 15:31] E-B-Manohar opened #42 "_InactiveRpcError"
WARNING:root:Batch input strings for faster inference.
---------------------------------------------------------------------------
_InactiveRpcError                         Traceback (most recent call last)
<ipython-input-45-923460d99b84> in <module>()
----> 1 segmenter.segment('I am Batman i live in gotham')

3 frames
/usr/local/lib/python3.6/dist-packages/grpc/_channel.py in _end_unary_response_

[2021-02-19 07:14] bedapudi6788 commented on #42
What are your tensorflow and keras versions?

[2021-02-19 08:14] E-B-Manohar commented on #42
@bedapudi6788 , I have provided the colab output above, I am sharing again the colab notebook, it contains all the requirements and the libraries' version;
please look into it.
Thanks in advance

https://colab.research.google.com/drive/1XrUCHamureKc0r1Sl4GA7QG9FsHv7ayH?usp=sharing

[2021-02-19 08:21] bedapudi6788 commented on #42
**There is a reason issue template exists.**

<img width="984" alt="Screenshot 2021-02-19 at 1 50 01 PM" src="https://user-images.githubusercontent.com/15898654/108477553-5ecde480-72b9-11eb-9e5e-c166d172c2a6.png">

[2021-02-19 10:08] E-B-Manohar commented on #42
Please Access the Notebook from:
https://github.com/E-B-Manohar/Public-Shares/blob/main/Untitled5.ipynb

[2021-02-19 10:17] bedapudi6788 commented on #42
You are trying to use it with tf serving, but don't have tf serving docker image running anywhere!

Also, I am not going to answer any further questions in this issue. Learn to follow the issue template and specify what you are exactly trying to do and what issues you are facing clearly.

You can't expect people to go through your notebooks and debug for you.

[2021-02-19 10:17] #42 closed

[2021-02-19 12:16] E-B-Manohar commented on #42
Please don't be rude at my issue, either answer it or don't. You might be created this repo but if can't answer professionally, hire someone who can do that for you or change ownership to someone who is capable.

[2021-02-19 12:31] bedapudi6788 commented on #42
I am not the rude person here. You didn't follow the issue template even after I asked you to. You are expecting me to go through some random colab/ipynb notebook to figure out what's the issue. I said I am not going to do that.

Feel free to not use it.

[2021-02-19 12:56] E-B-Manohar commented on #42
I'm trying to run it on colab. Great product BTW. New to issue templates, learning is in to do..
Tank You

[2021-02-19 14:12] E-B-Manohar commented on #42
Well, You pointed out the error but did **not specified how to resolve it programmatically still** and **_complaining rudly about not using your custom issue template._** Though I mentioned the issue name, error output, and where that error occured in the code with the ipynb for any future need in solving for this  error.

I solved it with help of other professtionals;

Tank You

[2021-02-19 14:30] bedapudi6788 commented on #42
Stop being an entitled ass.

The readme clearly shows you need to start the docker server to be able to use with tensorflow_serving.
<img width="902" alt="Screenshot 2021-02-19 at 7 56 32 PM" src="https://user-images.githubusercontent.com/15898654/108516712-91dd9b80-72ec-11eb-849f-0a1a5df037c2.png">

If you can't/ don't even the readme, nobody is going to help you.

WOW! Again, stop being an entit

[2021-02-19 14:36] E-B-Manohar commented on #42
I deleted my git repo public share link from previous replies only.
And I mentioned the problem is raised in "Google's colab" but you still sending home page tutorial screenshot for shell usage. Please use issue resolving section with non-abusive vocabulary; GitHub is dignified community.

[2021-02-19 14:47] bedapudi6788 commented on #42
Right.. so, the multiple other comments telling me to hire some maintainer and (weirdly) thanking me in one comment and a couple of other somewhat weird messages all just magically disappeared?

[2021-02-19 14:49] bedapudi6788 commented on #42
It ain't that dignified a place, if entitled idiots like you are present.

[2021-04-09 11:19] PhilkaUA opened #43 "Support the new version of Keras 2.4"
Will there be an update to the library to support the new version of Keras 2.4?

I have encountered a problem that when I create a microservice based on deep segment and flask I get an error, which is based on the fact that Keras 2.3.1 does not work with multi threading

error that occurs looks like this:

[code]

[2021-04-30 03:21] shantanubinra commented on #33
I tried using DeepSegment In Colab ,but it showing error at line "segmenter = DeepSegment('en')"
with error stating ;
 "module 'tensorflow.python.framework.ops' has no attribute '_TensorLike'"